VITE_BASE_URL=http://localhost:3670
SERVER_DATABASE_URL="mongodb://user:secret@localhost:27017/gemmashop?authSource=admin&replicaSet=rs0"
SERVER_AUTH_SECRET="change-this-to-a-strong-secret"
SERVER_CONFIG_ENCRYPTION_KEY="change-this-to-an-other-strong-secret"
APP_DATA_DIR="./.data"
ALLOWED_HOSTS=http://localhost:3670
TRUSTED_ORIGINS=http://localhost:3670