@import '@repo/ui/styles/base.css';

@source './';

@theme inline {
    --font-sans: 'Inter Variable', sans-serif;
}

@property --wave-pos {
    syntax: '<percentage>';
    inherits: false;
    initial-value: -20%;
}

.placeholder-grid {
    --grid-size: 30px;
    --grid-color: #ffffff;
    --bg-mute: #e2e8f0;
    --bg-lit: #60a5fa;

    min-width: 100px;
    min-height: 100px;

    background-image:
        linear-gradient(var(--grid-color) 2px, transparent 2px),
        linear-gradient(90deg, var(--grid-color) 2px, transparent 2px),
        radial-gradient(
            circle at center,
            var(--bg-mute) calc(var(--wave-pos) - 20%),
            var(--bg-lit) var(--wave-pos),
            var(--bg-mute) calc(var(--wave-pos) + 20%)
        );

    background-size:
        var(--grid-size) var(--grid-size),
        var(--grid-size) var(--grid-size),
        100% 100%;

    background-position:
        0 0,
        0 0,
        center;

    animation: radial-pulse 1.5s ease-in-out 1 forwards;
}

@keyframes radial-pulse {
    0% {
        --wave-pos: -20%;
    }
    100% {
        --wave-pos: 130%;
    }
}

.lexical-content-editable {
    min-height: 100%;
    caret-color: white;
}

.lexical-content-editable ::selection {
    color: inherit;
    background-color: rgba(36, 36, 36);
}

.lexical-content-editable:focus {
    outline: none;
}

.lexical-paragraph {
    margin: 0;
}

.lexical-h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin: 0;
}

.lexical-h2 {
    font-size: 2em;
    font-weight: 600;
    margin: 0;
}

.lexical-h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
}

.lexical-h4 {
    font-size: 1.25em;
    font-weight: 600;
    margin: 0;
}

.lexical-bold {
    font-weight: 700;
}

.lexical-italic {
    font-style: italic;
}

.lexical-underline {
    text-decoration: underline;
}

.lexical-strikethrough {
    text-decoration: line-through;
}

.lexical-ul {
    list-style-type: disc;
    padding-left: 1.5em;
    margin: 0;
}

.lexical-ol {
    list-style-type: decimal;
    padding-left: 1.5em;
    margin: 0;
}

.lexical-li {
    margin: 0;
}
